Id=network.service
Names=network.service
Description=Network Service
LoadState=loaded
UnitFileState=enabled
SubState=running
ActiveState=active
User=
